# dependencies
node_modules
**/node_modules

# next.js
.next/
out/

# production
build
dist

# misc
.env
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# docs site
_site



# lock-files from other package managers than pnpm
# yarn.lock // We use yarn for studio


# IDE specific files
.idea

# Husky
.husky

# Vercel
.vercel

# e2e
.secret
output

# azureite
__azurite*
__blobstorage*
__queuestorage*

